/* div { */
/* border: 1px solid black; */

* {
  box-shadow: border-box;
}
.main {
  padding: 0 !important;
  margin: 0;
}
.body {
  z-index: -999;
  margin: 0;
}
/* nav */
.navbar {
  width: 101vw !important;
}
.return {
  line-height: 2.5rem;
  overflow: hidden;
  font-size: 2.5rem;
  color: #fff;
  animation: none;
  font-family: "Black Ops One", cursive;
}

.return:hover {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 1s linear;
  color: red;
  animation: wiggle 0.5s;
  animation-iteration-count: infinite;
}
.lr {
  width: 49%;
  display: inline-block;
  font-family: "Black Ops One", cursive;
  font-size: x-large;
  color: whitesmoke;
}
.lr:hover {
  color: whitesmoke;
  text-decoration: underline;
}
.column {
  text-align: center;
}
nav .column {
  padding: 1rem 0 0 1rem;
}
.far {
  font-size: 1.5rem;
}
.personal-link {
  background-color: rgba(100, 100, 100, 0.5);
}
.content-container {
  background-color: rgba(255, 0, 0, 0);
  font-size: 2rem;
  margin-bottom: 2rem;
}
/* endnav */
/* footer */
.footer {
  padding: 0 !important;
  background-color: black !important;
  color: white !important;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 101vw !important;
  z-index: 1;
}
.columns:not(:last-child) {
  margin-bottom: 0;
}
/* endfooter */
/* animation */
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: blue;
  }
}
/* end animation */
/* Landing */
.test {
  display: flex;
  padding-top: 5em;
  justify-content: center;
}
video {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}
.content h1 {
  color: white;
}
.notfound {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.logo {
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;
  opacity: 1;
  animation: fade 5s linear;
}

.content.logo {
  color: white;
}

.content {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
div.content,
.content:not(:last-child) {
  margin: 0;
}
.content-overlay {
  /* height: -webkit-fill-available; */
  background-color: rgba(0, 0, 0, 0.5);
}
.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
/* End Landing */

/* login form */
.login-container {
  background-image: url("/static/login.png");
  background-size: cover;
  height: -webkit-fill-available;
}
form.login {
  border: 1px solid black;
  position: absolute;
  top: 20%;
  left: 20%;
  height: 9em;
  width: 5em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}
/* end login */
/* register form */
form.register {
  border: 1px solid black;
  position: absolute;
  /* top: 20%;
  left: 20%; */
  /* height: 9em; */
  width: 5em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  z-index: 1;
  right: 0;
  left: 0;
  margin: auto;
}

.register div {
  display: flex;
}
.register h1 {
  color: #fff !important;
}
/* end register */
/* profile  */
.user {
  border-right: 2px solid #363636;
  padding: 0;
}
.prof-username {
  font-family: "Black Ops One", cursive;
  font-size: x-large;
}
.prof-img-a {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}
a > .fa-plus-square {
  color: #363636;
}
a > .fa-plus-square:hover {
  color: red;
}
.stats-container {
  border: 1px solid black;
  background-color: #f7f5e2;
  margin: 0;
  text-align: left;
  font-family: monospace;
  font-size: x-large;
  padding-left: 1em;
}
.workouts {
  overflow: scroll;
}
.message-title {
  text-overflow: ellipsis;
}
.message-header > a > i {
  position: relative;
}
.stats > span {
  font-weight: bold;
}
.workout {
  background-color: #f7f5e2;
  border-radius: 0 20px 0 20px;
  margin-bottom: 2rem;
  box-shadow: 10px 10px 5px grey;
}
.message {
  border-radius: 0 20px 0 20px;
}
.message-header {
  border-radius: 0 20px 0 0;
  background-color: #363636;
}

.message-body {
  border-radius: 0 0 0 20px;
  background-color: #f7f5e2;
  border-width: 0;
}

.user-edit {
  text-align: right;
  font-size: large;
}

.user-edit > a {
  border-bottom: 1px solid #363636;
  border-radius: 10px 10px 0 0;
  color: white;
  background-color: #363636;
  padding: 2px;
}

.user-edit > a:hover {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 1s linear;
  color: red;
}
/* end profile */
/* edit workout form */
form.edit-workout {
  background-color: #f7f5e2;
  border-radius: 0 20px 0 20px;
  margin-bottom: 2rem;
  box-shadow: 10px 10px 5px grey;
  height: auto;
}

div.edit-workout-name {
  border-radius: 0 20px 0 0;
  background-color: #363636;
  color: white;
}
/* end edit workout */
/* About */
img.about-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.columns {
  /* position: relative; */
  width: 100%;
  /* overflow: hidden; */
  display: flex;
}

.about {
  flex: 1 1 0%;
  min-width: 0;
  text-align: center;
  display: inline-block;
  width: 33%;
  height: 90vh;
  -webkit-transition: flex-basis 0.3s ease-in;
  transition: flex-basis 0.3s ease-in;
  vertical-align: middle;
  overflow: hidden;
}

.about {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s linear;
  background: whitesmoke;
}

.about:hover {
  cursor: pointer;
  height: 90vh;
  overflow: hidden;

  flex-basis: 100%;
  -webkit-transition: flex-basis 0.3s ease-out;
  transition: flex-basis 0.3s ease-out;
  text-overflow: ellipsis;
}

.about:hover {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s linear;
  background-color: aquamarine;
}

/* end about */

.return {
  text-align: left;
}

/* dropdown */

ul {
  background: #363636;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  /* background: #363636; */
  display: block;
  text-align: center;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover,
li:focus-within {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 1s linear;
  color: red;
  cursor: pointer;
  font-size: 2.5;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: #363636;
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  right: 0;
  display: none;
  text-align: center;
  border-bottom-left-radius: 50px;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.dropdown-item {
  color: #fff;
  text-align: center;
}

a.dropdown-item,
button.dropdown-item {
  text-align: center;
  font-weight: bold;
}

a.dropdown-item:hover,
button.dropdown-item:hover {
  background-color: rgba(255, 0, 0, 0);
  text-decoration: underline;
  color: #fff;
  font-size: x-large;
}
