/* div { */
/* border: 1px solid black; */
* {
  box-shadow: border-box;
}

.return {
  line-height: 2.5rem;
  overflow: hidden;
  font-size: 2.5rem;
  color: rgba(255, 245, 224, 1);
  animation: none;
}

.return:hover {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 1s linear;
  color: red;
  animation: wiggle 0.5s;
  animation-iteration-count: infinite;
}
.column {
  text-align: center;
}

.content-container {
  width: 95vw;
  height: 100vh;
  font-size: 2rem;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;

}
nav .column {
  padding: 1rem 0 0 1rem;
}
.far {
  font-size: 1.5rem;
}

.personal-link {
  background-color: rgba(100, 100, 100, 0.5);
}
.content-container {
  background-color: rgba(255, 0, 0, 0);
  font-size: 2rem;
  margin-bottom: 2rem;
}

footer {
  padding: 0 !important;
  background-color: black !important;
  color: white !important;
  position: absolute;
  left: 0;
  right: 0;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.user {
  border-right: 2px solid #363636;
  padding-right: 0;
}

.prof-img-a {
  width: 100%;
  height: 55%;
  overflow: hidden;
}

.return {
  text-align: left;
}

/* dropdown */

ul {
  background: #363636;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  /* background: #363636; */
  display: block;
  text-align: center;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover,
li:focus-within {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 1s linear;
  color: red;
  cursor: pointer;
  font-size: 2.5;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: #363636;
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  right: 0;
  display: none;
  text-align: center;
  border-bottom-left-radius: 50px;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.dropdown-item {
  color: #fff;
  text-align: center;
}

a.dropdown-item,
button.dropdown-item {
  text-align: center;
  font-weight: bold;
}
