{% extends "layout.html" %} {% block body %}
<h1 class="column">About Us</h1>
<div class="columns">
  <div class="column about">
    <img src="/static/default.jpg" class="about-img" />
    <p class="contributor">Leo</p>
    <p class="programmer-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat
      quisquam tenetur aut fugit esse, dolor, soluta explicabo nesciunt, minima
      commodi minus architecto veniam ratione quod quia ab sunt veritatis.
    </p>
  </div>
  <div class="column about">
    <img src="/static/default.jpg" class="about-img" />
    <p class="contributor">Luke</p>
    <p class="programmer-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat
      quisquam tenetur aut fugit esse, dolor, soluta explicabo nesciunt, minima
      commodi minus architecto veniam ratione quod quia ab sunt veritatis.
    </p>
  </div>
  <div class="column about">
    <img src="/static/default.jpg" class="about-img" />
    <p class="contributor">Tristen</p>
    <p class="programmer-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat
      quisquam tenetur aut fugit esse, dolor, soluta explicabo nesciunt, minima
      commodi minus architecto veniam ratione quod quia ab sunt veritatis.
    </p>
  </div>
</div>
{% endblock %}
