{% extends "layout.html" %} {% block body %}
<h1 class="column">About Us</h1>
<div class="columns">
  <div class="column about">
    <img src="/static/IMG_0600.jpg" class="about-img" />
    <p class="contributor">Leo</p>
    <p class="programmer-text">
      Leonardo has been a big name in the world of fitness for five years.
      Leonardo has made a name for himself through his focus on functional
      fitness, and holistic nutrition. Leonardo dishes out healthy-eating advice
      to millions of his followers on Instagram and YouTube.
    </p>
  </div>
  <div class="column about">
    <img src="/static/default.jpg" class="about-img" />
    <p class="contributor">Luke</p>
    <p class="programmer-text">
      I've been a long time advocate of yoga, hiking, and meditation as
      additions to any lifestyle type. While yoga may not be as ancient as it
      claims, the health benifits both mentally and physically are evident. This
      site serves as a starting point. From personal experience and quantitative
      evidence I've come to find that consistant record keeping and
      accountability are 2 major points of concern for anyone trying to improve
      any aspect of their health.
    </p>
  </div>
  <div class="column about">
    <img src="/static/default.jpg" class="about-img" />
    <p class="contributor">Tristen</p>
    <p class="programmer-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat
      quisquam tenetur aut fugit esse, dolor, soluta explicabo nesciunt, minima
      commodi minus architecto veniam ratione quod quia ab sunt veritatis.
    </p>
  </div>
</div>
{% endblock %}
