{% extends "layout.html" %} {% block body %}
<h1>About Us</h1>
<div>
  <img src="/static/default.jpg" />
  <p class="contributor">Name</p>
  <p class="programmer-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat
    quisquam tenetur aut fugit esse, dolor, soluta explicabo nesciunt, minima
    commodi minus architecto veniam ratione quod quia ab sunt veritatis.
  </p>
</div>
<div>
  <img src="/static/default.jpg" />
  <p class="contributor">Name</p>
  <p class="programmer-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat
    quisquam tenetur aut fugit esse, dolor, soluta explicabo nesciunt, minima
    commodi minus architecto veniam ratione quod quia ab sunt veritatis.
  </p>
</div>
<div>
  <img src="/static/default.jpg" />
  <p class="contributor">Name</p>
  <p class="programmer-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quaerat
    quisquam tenetur aut fugit esse, dolor, soluta explicabo nesciunt, minima
    commodi minus architecto veniam ratione quod quia ab sunt veritatis.
  </p>
</div>
{% endblock %}
