{% extends "layout.html" %} {% block body %}

<div class="columns">
  <div class="column is-one-quarter user">
    <img class="prof-img-a" src="/static/default.jpg" />
    <h1>{{ current_user.username }}</h1>
    <hr />
    <div class="stats-container">
      <p class="stats">Height: {{ current_user.height }}</p>
      <p class="stats">Weight: {{ current_user.weight }}</p>
      <p class="stats">Goal: {{ current_user.goal }}</p>
      <p class="stats">About me:</p>
      <p class="stats">Join Date: {{ current_user.joined_at }}</p>
    </div>
  </div>
  <div class="column is-three-quarters">
    <h1>Your Workouts</h1>
    <hr />
    {% for workout in workouts %}
    {% if workout %}
    <div class="workout">
        <article class="message ">
            <div class="message-header">
                
                <p>By: {{current_user.username}}</p>
            </div>
            <div class="message-body">
                this div is where exercises will go
            </div>
            <div class="message-body">
                {{workout.description}}
            </div>
            <a href="{{url_for('delete_workout', workoutid=workout.id)}}">delete</a>
        </article>

      </div>
      {%else %}
      <div class="workout">You have no workouts to display</div>
       <div><button class="add" type="submit">+</button></div>
      {% endif %}
      {% endfor %}
     

      <section>
          <h2>Add workouts</h2>
          <form method="POST" action="" novalidate>
              {{ form.hidden_tag() }}
              <div class="field">
              {{ form.name.label }}
              {{current_user.username}}
              <!-- {{ form.name(class_="input") }} -->
              </div>
              <div class="field">
              {{ form.description.label }}
              {{ form.description(class_="textarea") }}
              </div>
              {{ form.submit(class_="button") }}
          </form>
      </section>
      
    </div>
  </div>
</div>
{% endblock %}
